body {
  font-size: 10px;
  color: #6f6a6e;
  text-align: center;
}

.all {
  max-width: 575px;
  margin: 0 auto;
}

header {
  background-image: url("../img/header_footer_bg.jpg");
  background-size: cover;
  max-width: 100%;
  max-height: auto;
  color: #fff;
}

.header_words {
  padding-bottom: 20%;
  margin-bottom: 5%;
}

img.header_logo {
  width: 200px;
  margin-top: 10px;
}

p.header_font {
  font-family: "Caveat";
  font-weight: Bold;
  font-size: 48px;
  margin-bottom: 10px;
}

img.search_picture {
  width: 90%;
  border: solid 1px;
  border-radius: 3px;
}

.search {
  margin-top: -20%;
}

.search_form {
  margin-top: 15px;
  margin-bottom: 15px;
}

input.text_form {
  width: 60%;
  height: 20px;
  margin-bottom: 10px;
}

button {
  width: 30%;
  height: 25px;
}

.icon {
  margin-bottom: 10px;
}

i.fab:nth-of-type(n+2) {
  margin-left: 10px;
}

.skills {
  padding-bottom: 40px;
}

.skills_block {
  margin-top: 20px;
}

p.skills_font {
  color: #000;
}

p.section {
  font-weight: Bold;
  font-size: 16px;
  display: flex;
  margin-bottom: 30px;
}

p.section:before,
p.section:after {
  content: "";
  flex-grow: 1;
  border-top: solid 2px;
  display: block;
  margin-top: 10px;
}

p.section:before {
  margin-right: 0.4em;
}

p.section:after {
  margin-left: 0.4em;
}

img.main_menu {
  width: 50%;
  border: solid 1px;
  border-radius: 3px;
}

p.heading {
  font-weight: bold;
  margin-bottom: 10px;
}

img.main_list {
  border-radius: 3px;
  width: 100%;
}

li.img_side_by_side {
  margin-top: 1px;
  border-top: 2px solid;
  display: flex;
  align-items: center;
  padding: 10px;
}

li.img_side_by_side:last-of-type {
  border-bottom: 2px solid
}

.img_info {
  align-items: center;
  width: 50%;
  margin: 5px;
}

.img {
  width: 50%;
  margin: 5px;
}

footer {
  color: #fff;
  background-image: url("../img/header_footer_bg.jpg");
  background-size: cover;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}

img.footer_icon {
  width: 130px;
  height: auto;
  margin-top: 40px;
}